
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts//Poppins/Poppins-Black.ttf') format('truetype');
}

.Poppins100 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.Poppins200 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.Poppins300 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.Poppins400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.Poppins500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.Poppins600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Poppins700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.Poppins800 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.Poppins900 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
