@import url(./assets/fonts/allFonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --logo-color: #2b3674;
    --tab-color: #a3aed0;
    --divider-color: #4318ff;
    --bg-search: #f4f7fe;
    --text-color: #e9e3ff;
    --update-button: #3965ff;
    --error-button: #e31a1a;
    --done-button: #01b574;
    --pending-button: #ffb547;
    --border-color: #e0e5f2;
    --primary-color: #707eae;
    --border-bg: #ffffff33;
    --card-title: #1b2559;
    --eid-button-color:#11047A;
    --bg-download:#FAFCFE;
    --number-color:#05CD99;
    --chart-line-color:#6AD2FF;
    --trending-bg:#FEEFEE;
    --icon-add-bg:#F4F7FE;
    --body-color:#ecf4ff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

body{
  background-color:  var(--body-color)
}

[data-theme = "light"] {
  --logo-color: #2b3674;
    --tab-color: #a3aed0;
    --divider-color: #4318ff;
    --bg-search: #f4f7fe;
    --text-color: #e9e3ff;
    --update-button: #3965ff;
    --error-button: #e31a1a;
    --done-button: #01b574;
    --pending-button: #ffb547;
    --border-color: #e0e5f2;
    --primary-color: #707eae;
    --border-bg: #ffffff33;
    --card-title: #1b2559;
    --eid-button-color:#11047A;
    --bg-download:#FAFCFE;
    --number-color:#05CD99;
    --chart-line-color:#6AD2FF;
    --trending-bg:#FEEFEE;
    --icon-add-bg:#F4F7FE;
    --body-color:#ecf4ff;
    --signin-bg:#ffffff;
}

[data-theme = "dark"] {
  --logo-color: #aab7ff;
    --tab-color: #e4e8f7;
    --divider-color: #4318ff;
    --bg-search: #252525;
    --text-color: #e9e3ff;
    --update-button: #3965ff;
    --error-button: #e31a1a;
    --done-button: #01b574;
    --pending-button: #ffb547;
    --border-color: #e0e5f2;
    --primary-color: #c2cbe7;
    --border-bg: #ffffff33;
    --card-title: #1b2559;
    --eid-button-color:#11047A;
    --bg-download:#FAFCFE;
    --number-color:#05CD99;
    --chart-line-color:#6AD2FF;
    --trending-bg:#FEEFEE;
    --icon-add-bg:#F4F7FE;
    --body-color:#888888;
    --signin-bg:#353535;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
